@model projeKayıpBul.Models.LostItem

<section class="blog single-blog section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <article class="single-post">
                    <h2>@Html.DisplayFor(model => model.Name)</h2>
                    <ul class="list-inline">
                        <li class="list-inline-item">by <a href="">@Html.DisplayFor(model => model.ApplicationUser.NameSurname)</a></li>
                        <li class="list-inline-item">@Html.DisplayFor(model => model.LosingDate)</li>
                    </ul>
                    @if (Model.Photo == null)
                    {
                        <img style='width:600px; height:400px; border:solid 1px #cccccc;' src="~/images/resimyok.png" alt="" />
                    }
                    else
                    {
                        var base64 = Convert.ToBase64String(Model.Photo);
                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                        <img style='width:600px; height:400px; border:solid 1px #cccccc;' src="@imgsrc" />
                    }
                    <h3 class="tab-title">@Html.DisplayNameFor(model => model.Description)</h3>
                    <p>
                        @Html.DisplayFor(model => model.Description)
                    </p>

                    <h3 class="tab-title">Details</h3>
                    <table class="table table-bordered product-table">
                        <tbody>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Address)</td>
                                <td>@Html.DisplayFor(model => model.Address)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.LosingDate)</td>
                                <td>@Html.DisplayFor(model => model.LosingDate)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.MoreInfo)</td>
                                <td>@Html.DisplayFor(model => model.MoreInfo)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Status)</td>
                                <td>@Html.DisplayFor(model => model.Status)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Category)</td>
                                <td>@Html.DisplayFor(model => model.Category.Name)</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary">@lang["IKnowWhere"]</button>
                </article>
            </div>
        </div>
    </div>
</section>