@model projeKayıpBul.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Ana Sayfa";
}

<!-- Hero Section -->

<section class="hero-area bg-1 text-center overly">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Header Contetnt -->
                <div class="content-block">
                    <h1>Kaybolan her şeyinizi bulun! </h1>
                    <p>KayıpBul'da ücretsiz bir şekilde ilan verin, <br> kaybolan her şeyinizi bulun veya başkalarına yardımcı olun.</p>
                    <div class="short-popular-category-list text-center">
                        <h2>Kategoriler</h2>
                        <ul class="list-inline">
                            @foreach (var item in Model.Category)
                            {
                                <li class="list-inline-item">
                                    <a href="category.html"><i class="@item.IconName"></i> @item.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>

<!-- Kayıplar Section -->

<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><i class="fa fa-cat"></i> - Son Kayıp Kediler</h2>
                    <p>Kayıp kedi ilanlarına tıklayarak detayları görebilirsiniz.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="trending-ads-slide">
                    @foreach (var item in Model.LostCats)
                    {
                        <div class="col-sm-12 col-lg-3">
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <!--<div class="price">asd</div> -->
                                        @if (item.MoreInfo == MoreInfo.Urgent)
                                        {<div class="kayip">ACİL</div>}
                                        @if (item.MoreInfo == MoreInfo.Rewarded)
                                        {<div class="kayip">ÖDÜLLÜ</div>}
                                        <a href="single.html">
                                            @if (item.Photo == null)
                                            {
                                                <img class="card-img-top img-fluid" style="height:200px;" src="~/images/resimyok.png" />
                                            }
                                            else
                                            {
                                                var base64 = Convert.ToBase64String(item.Photo);
                                                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                                                <img class="card-img-top img-fluid" style="height:200px;" src="@imgsrc" />
                                            }

                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="single.html">@item.Name</a>
                                        </h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="single.html">
                                                    <i class="fa fa-folder-open-o"></i>@item.Category.Name
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    <i class="fa fa-calendar"></i>@item.LosingDate
                                                </a>
                                            </li>
                                        </ul>
                                        <p class="card-text">@item.Description.Substring(0, 80)...</p>
                                        <div class="product-ratings">
                                            <button class="btn btn-primary">Detaylı Bilgi</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><i class="fa fa-dog"></i> - Son Kayıp Köpekler</h2>
                    <p>Kayıp köpek ilanlarına tıklayarak detayları görebilirsiniz.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="trending-ads-slide">
                    <!-- product card -->
                    @foreach (var item in Model.LostDogs)
                    {
                        <div class="col-sm-12 col-lg-3">
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <!--<div class="price">asd</div> -->
                                        @if (item.MoreInfo == MoreInfo.Urgent)
                                        {<div class="kayip">ACİL</div>}
                                        @if (item.MoreInfo == MoreInfo.Rewarded)
                                        {<div class="kayip">ÖDÜLLÜ</div>}
                                    <a href="single.html">
                                        @if (item.Photo == null)
                                        {
                                            <img class="card-img-top img-fluid" style="height:200px;" src="~/images/resimyok.png" />
                                        }
                                        else
                                        {
                                            var base64 = Convert.ToBase64String(item.Photo);
                                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                                            <img class="card-img-top img-fluid" style="height:200px;" src="@imgsrc" />
                                        }

                                    </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="single.html">@item.Name</a>
                                        </h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="single.html">
                                                    <i class="fa fa-folder-open-o"></i>@item.Category.Name
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    <i class="fa fa-calendar"></i>@item.LosingDate
                                                </a>
                                            </li>
                                        </ul>
                                        <p class="card-text">@item.Description.Substring(0, 80)...</p>
                                        <div class="product-ratings">
                                            <button class="btn btn-primary">Detaylı Bilgi</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Action Section -->

<section class="call-to-action overly bg-3 section-sm">
    <!-- Container Start -->
    <div class="container">
        <div class="row justify-content-md-center text-center">
            <div class="col-md-8">
                <div class="content-holder">
                    <h2>
                        Ücretsiz ilan Gönder!
                    </h2>
                    <p style="font-size: 16px; font-weight: 400; color: #d4cecd">
                        Kayıt olup profilini düzenledikten sonra ücretsiz bir şekilde ilan gönderebilirsin!
                    </p>
                    <ul class="list-inline mt-30">
                        <li class="list-inline-item"><a class="btn btn-main" href="#"><i class="fa fa-plus mr-2"></i>Kayıp İlanı Ver</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>

<!-- Kategori Section -->

<section class="section">
    <!-- Container Start -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><i class="fa fa-star"></i> - Son Bulunanlar</h2>
                    <p>Burada bulumuş durumdaki ilanları görebilirsiniz.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="trending-ads-slide">
                    @foreach (var item in Model.LostButFound)
                    {
                        <div class="col-sm-12 col-lg-3">
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <!--<div class="price">asd</div> -->
                                        @if (item.MoreInfo == MoreInfo.Urgent)
                                        {<div class="kayip">ACİL</div>}
                                        @if (item.MoreInfo == MoreInfo.Rewarded)
                                        {<div class="kayip">ÖDÜLLÜ</div>}
                                        <a href="single.html">
                                            @if (item.Photo == null)
                                            {
                                                <img class="card-img-top img-fluid" style="height:200px;" src="~/images/resimyok.png" />
                                            }
                                            else
                                            {
                                                var base64 = Convert.ToBase64String(item.Photo);
                                                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                                                <img class="card-img-top img-fluid" style="height:200px;" src="@imgsrc" />
                                            }

                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="single.html">@item.Name</a>
                                        </h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="single.html">
                                                    <i class="fa fa-folder-open-o"></i>@item.Category.Name
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    <i class="fa fa-calendar"></i>@item.LosingDate
                                                </a>
                                            </li>
                                        </ul>
                                        <p class="card-text">@item.Description.Substring(0, 80)...</p>
                                        <div class="product-ratings">
                                            <button class="btn btn-primary">Detaylı Bilgi</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
